
.done {
	text-decoration: line-through;
	background-color: red;
	color: white;
}
.li-style {
	position: relative;
	padding: 5px 30px 5px 5px;
	width: 170px;
	border: 1px solid black;
	list-style: none;
	margin-bottom: 3px;
	letter-spacing: 2px;
}

.e-parent {
	position: relative;
}

.btn-style {
	cursor: pointer;
	border: none;
    position: absolute;
    top: 5px;
    left: 180px;
    background-color: #0000000a;
    padding: 2px 8px;
    border-radius: 1px;
    font-weight: bold;
}
.btn-style:hover {
	background-color: #e60b0b33;
}